body { 
    margin: 0px;
    background: rgb(39, 40, 34); 
    font-family: monospace;
    color: rgb(158, 134, 200);
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: block;
    border: 2px solid;
    border-color: rgb(121, 121, 121);
    border-radius: 5px;
}

header {
    margin:  0 auto;
    padding: 10px;
    text-align: center;
}

nav ul{
    list-style: none;
}
nav li {
    display: inline-block;
    margin-left: 50px;
    position: relative;
}

nav a {
    cursor: pointer;
}

img {
    display: block;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

footer {
    text-align: center;
}

.textDiv {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 30px;
    font-size: 16px;
}

.descriptionArt:not(:last-child) {
    padding-bottom: 15px;
    border-bottom: 3px dotted rgb(121, 121, 121);
}

#headerDiv {
    width: 100%;
    background-color: rgb(64, 64, 64);
}

#headerDiv a {
    font-size: 20px;
}

#introDiv p {
    text-align: center;
    font-size: 16px;
    padding-top: 15px;
    border-top: 3px dotted rgb(121, 121, 121);
}

#descriptionDiv {
    display: none;
}

#simDescriptionDiv {
    display: none;
}

#canvasDiv {
    display: none;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 30px;
}

#canvasSettings {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#canvasSettings td {
  width: 25% ;
} 


a:link { color: rgb(102,217,239); }
a:visited { color: rgb(108, 153, 187); }
a:hover { color: rgb(214, 214, 214); }